
.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footera{
    display: flex;
}

.footerb{
    display: flex;
}

.footerc{
    display: flex;
}

.footera>div{
    border: solid;
    border-radius: 5px;
    margin: 10px;
    padding: 20px;
}


.footerb>div{
    border: solid;
    border-radius: 5px;
    margin: 10px;
    padding: 20px;
    width: 250px;
}

.footerc>div{
    border: solid;
    border-radius: 5px;
    margin: 10px;
    padding: 20px;
    width: 300px;
}

.footerbuttons{
    display: flex;
}


#website{
    border: none;
    border-radius: 9px;
    background:linear-gradient(to right, #f54d0a, #e75500be);
    color: white;
    margin: 10px;
    padding: 20px;
    font-size: 20px;
    
    text-align: center;
}

#youtube{
    border: none;
    border-radius: 9px;
    background: linear-gradient(to right, #e41c1c, #b8071fbe);
    color: white;
    margin: 10px;
    padding: 10px 20px;
    font-size: 20px;
    
    text-align: center;
}
